{{ partial "header.html" . }}

<div id="post-index" class="container" itemscope="" itemtype="https://schema.org/Blog">
    {{ partial "intro.html" . }}
    {{ $pag := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}

    {{ range $key, $taxonomy := .Site.Taxonomies.series }}
        {{ $seriesName := (index $taxonomy.Pages 0).Params.series }}

        <h4 class="post-stub">
            <a href='{{ "series" | relURL}}/{{ $seriesName | urlize }}'>
                <span class="series-post-list-badge">SERIES</span> {{ (index $taxonomy.Pages 0).Params.series }}
            </a>
        </h4>
        <ol class="post-list series-post-list">
        {{ range $index, $element := $taxonomy.Pages.ByDate }}
            {{ if eq $key ($element.Params.series | urlize) }}
                <li class="post-stub" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
                    <a href="{{ $element.Permalink }}" itemprop="url">
                        <h4 class="post-stub-title" itemprop="name">
                            <span class="circled-number">{{ add $index 1 }}</span>
                            {{ $element.LinkTitle }}
                        </h4>
                        <time class="post-stub-date" datetime='{{ .Date.Format "2006-01-02" }}'>Published {{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}</time>
                        {{ with .Params.featured }}
                        <span class="post-stub-tag">Featured</span>
                        {{ end }}
                    </a>
                </li>
            {{ end }}
        {{ end }}
        </ol>
    {{ end }}

    <ol class="post-list">

        {{ range $pag.Pages }}
            {{ if not .Params.series }}
                {{ partial "post-stub.html" . }}
            {{ end }}
        {{ end }}
    </ol>

    <div class="post-navigation">
        {{ partial "pagination.html" . }}
    </div>
</div>

{{ partial "footer.html" . }}
